.contact {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.card {
  width: 50%;
  background-color: #fff0b3;
}

.card h1 {
  text-align: center;
}

.gold-line {
  background-color: gold;
  height: 5px;
  width: 100%;
}
