.contact {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.card {
  width: 50%;
  background-color: #3e5063;
}

.card h1 {
  text-align: center;
  color: #fff0b3;
}

.gold-line {
  background-color: gold;
  height: 5px;
  width: 100%;
}

.card label {
  width: 50%;
  background-color: white;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border-radius: 2%;
  padding: 5px;
  font-weight: bold;
}

label span {
  font-weight: normal;
  text-align: center;
}
form textarea {
  width: 100%;
}

.form-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  text-align: center;
}

form input {
  width: 75%;
  height: 50px;
  margin-bottom: 20px;
}

button {
  width: 120px;
  height: 50px;
  font-size: 20px;
}
