.contact {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.card {
  width: 50%;
  background-color: #3e5063;
}

.card h1 {
  text-align: center;
  color: #fff0b3;
}

.gold-line {
  background-color: gold;
  height: 5px;
  width: 100%;
}

.card label {
  width: 75%;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border-radius: 5%;
  padding: 5px;
}
