.contact {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

.card {
  box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.4);
  width: 80%;
  background-color: #3e5063;
}

.form-box {
  width: 100%;
}

.form-field-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-box {
  width: 100%;
}

.card h1 {
  margin-top: 10px;
  text-align: center;
  color: #fff0b3;
}

label {
  margin-left: 30px;
}

.phonecall-box {
  width: 50%;
  background-color: #3e5063;
  color: #fff0b3;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  font-size: 40px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

form textarea {
  width: 100%;
}

.form-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  text-align: center;
}

form input {
  width: 60%;
  height: 50px;
  box-shadow: 1px 1px 1px 1px black;
  border: 0.5px solid grey;
  color: #fff0b3;
  background-color: #3e5063;
  border-radius: 15px;
  font-size: 20px;
}

form input:focus {
  outline: none;
  border: 0.5px solid grey;
  border: 1px solid black;
}

form input:hover,
form textarea:hover,
.phonecall-box:hover,
button:hover {
  background-color: #526a85;
  transition: 0.4s;
}

form textarea:focus {
  outline: none;
  border: 1px solid black;
}

form textarea {
  resize: none;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  color: #fff0b3;
  box-shadow: 1px 1px 1px 1px black;
  background-color: #3e5063;
}

form input::placeholder {
  color: #dad3b7;
  padding-left: 10px;
}

form textarea::placeholder {
  color: #dad3b7;
}

button {
  color: #fff0b3;
  width: 150px;
  height: 55px;
  font-size: 23px;
  margin-bottom: 20px;
  border: 1px solid grey;
  background-color: #3e5063;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

button:disabled {
  background-color: #5c6a79;
}

.error-box {
  width: 100%;
  text-align: center;
  height: 20px;
  color: rgb(247, 71, 71);
}
