.disease-box {
  width: 80%;
  color: #fff0b3;
}
label {
  width: 100%;
  text-align: center;
}

.input-lg {
  width: 90%;
}

.mt {
  margin-top: 20px;
}

form {
  border-bottom: 1px solid #fff0b3;
}

.input-md {
  width: 60%;
}

input,
textarea {
  background-color: #3e5063;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: #fff0b3;
}

input::placeholder,
textarea::placeholder {
  color: white;
}

input:read-only,
textarea:read-only {
  background-color: #616972;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.minus-btn {
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #485e75;
  color: #fff0b3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.minus-btn:hover,
.plus-btn:hover,
.submit-btn:hover {
  background-color: #4c6681;
}

.plus-btn {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background-color: #485e75;
  color: #fff0b3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid grey;
}

.submit-btn {
  width: 180px;
  height: 60px;
  background-color: #485e75;
  color: #fff0b3;
  border: 1px solid grey;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 22px;
}

.info {
  widows: 30%;
  max-width: 50%;
  text-align: center;
}

.info-box {
  padding: 30px;
  border-bottom: 1px solid #fff0b3;
}

.error-box {
  color: rgb(247, 71, 71);
  height: 20px;
}

.minus-btn:focus,
.plus-btn:focus,
.submit-btn:focus {
  outline: none;
}

.minus-btn:disabled,
.plus-btn:disabled,
.submit-btn:disabled {
  background-color: #6283a7;
  color: white;
}

.rule-border {
  border-bottom: 1px solid #fff0b3;
  margin-bottom: 20px;
  padding: 10px;
}

.temp {
  margin: 20px;
}
.desc-diagnose-box {
  margin: 20px;
}
