<div class="mod-disease-container">
  <div class="disease-form-box">
    <div class="width-100 display-flex j-c-center">
      <h1 class="mt-3">Wprowadź nową chorobę</h1>
      <button
        class="question-btn"
        matTooltip="Kliknij by zobaczyć instrukcję."
        (click)="openInstruction()"
      >
        <i class="fas fa-question"></i>
      </button>
    </div>

    <form action="" [formGroup]="newDiseaseForm">
      <div class="d-flex justify-content-center mt-5">
        <mat-form-field appearance="fill" class="align-self-center checkbox">
          <mat-label style="color: #fff0b3">Wybierz roślinę</mat-label>

          <mat-select name="plantSelect" formControlName="plant">
            <mat-option value="">Brak </mat-option>
            <mat-option *ngFor="let plant of plants" [value]="plant.name">
              <span>
                {{ plant.name }}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="disease-name-input">
        <div class="error-wrapper">
          <label for="" *ngIf="f.plant.errors"
            >Podanie rośliny jest wymagane.</label
          >
        </div>

        <input
          type="text"
          placeholder="Nazwa choroby"
          formControlName="diseaseName"
        />
        <div class="error-wrapper">
          <label for="" *ngIf="f.diseaseName.errors"
            >Nazwa choroby jest wymagana ( min. 5 znaków)</label
          >
        </div>
      </div>

      <div class="file-input-box">
        <label for="file" class="file-input">
          <input
            type="file"
            id="file"
            (change)="handleImageFileInput($event)"
          />Wybierz zdjęcie choroby (wymagane) -
          <span *ngIf="!filename"> Brak pliku</span>
          <span> {{ filename }}</span>
        </label>
      </div>
      <div class="disease-description-textarea">
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Wprowadź opis choroby"
          formControlName="diseaseDescription"
        ></textarea>
        <div class="error-wrapper">
          <label for="" *ngIf="f.diseaseDescription.errors"
            >Opis choroby jest wymagany (50-600 znaków)</label
          >
        </div>
      </div>
      <div class="disease-diagnose-input">
        <div class="input-box">
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Wprowadź diagnozę zapobiegawczą"
            formControlName="precautionDiagnose"
          ></textarea>
          <div class="error-wrapper">
            <label for="" *ngIf="f.precautionDiagnose.errors"
              >Diagnoza zapobiegawcza jest opcjonalna (20-200 znaków)</label
            >
          </div>
        </div>

        <div class="input-box">
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Wprowadź diagnozę interwencyjną"
            formControlName="interventionDiagnose"
          ></textarea>
          <div class="error-wrapper">
            <label for="" *ngIf="f.interventionDiagnose.errors"
              >Diagnoza interwencyjna jest opcjonalna (20-200 znaków)</label
            >
          </div>
        </div>
      </div>

      <div class="disease-templates-inputs">
        <div class="input-box" formArrayName="riskFactors">
          <h3>Czynniki ryzyka</h3>
          <div
            *ngFor="let riskFactor of riskFactors.controls; let i = index"
            class="dynamic-input"
          >
            <div [formGroupName]="i" class="inner-dynamic-input">
              <div class="input-with-delete-btn">
                <input
                  type="text"
                  placeholder="Wprowadź czynnik ryzyka"
                  formControlName="templateName"
                  [readOnly]="rules.length > 0"
                />
                <button
                  class="minus-btn"
                  [disabled]="
                    (i == 0 && riskFactors.controls.length == 1) ||
                    rules.length > 0
                  "
                  (click)="removeRiskFactor(i)"
                >
                  <i class="fas fa-minus"></i>
                </button>
              </div>
              <div class="error-wrapper">
                <label
                  for=""
                  *ngIf="riskFactors.controls[i].get('templateName').errors"
                  >Czynnik ryzyka nie może być pusty (10-100 znaków)</label
                >
              </div>
            </div>
          </div>

          <button
            class="plus-btn"
            (click)="addRiskFactor()"
            [disabled]="rules.length > 0"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
        <div class="input-box" formArrayName="symptoms">
          <h3>Symptomy</h3>
          <div
            *ngFor="let symptom of symptoms.controls; let i = index"
            class="dynamic-input"
          >
            <div [formGroupName]="i" class="inner-dynamic-input">
              <div class="input-with-delete-btn">
                <input
                  type="text"
                  placeholder="Wprowadź symptom"
                  formControlName="templateName"
                  [readOnly]="rules.length !== 0"
                />
                <button
                  class="minus-btn"
                  [disabled]="
                    (i == 0 && symptoms.controls.length == 1) ||
                    rules.length > 0
                  "
                  (click)="removeSymptom(i)"
                >
                  <i class="fas fa-minus"></i>
                </button>
              </div>
              <div class="error-wrapper">
                <label
                  for=""
                  *ngIf="symptoms.controls[i].get('templateName').errors"
                  >Symptom nie może być pusty (10-100 znaków)</label
                >
              </div>
            </div>
          </div>
          <button
            class="plus-btn"
            (click)="addSymptom()"
            [disabled]="rules.length > 0"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>

      <div class="disease-rules-inputs">
        <h1>Reguły</h1>
        <div class="rule-box">
          <div
            *ngFor="let rule of rules; let j = index"
            class="dynamic-input rule-border"
          >
            <h3>Reguła {{ j + 1 }}</h3>
            <div class="templates-box">
              <div class="template-unit-box">
                <h4>Czynniki ryzyka</h4>
                <p for="" *ngFor="let id of rule.riskFactorIndexes">
                  {{ templates.riskFactors[id]["templateName"] }}
                </p>
                <br />
              </div>
              <div class="template-unit-box">
                <h4>Symptomy</h4>
                <p for="" *ngFor="let id of rule.symptomIndexes">
                  {{ templates.symptoms[id]["templateName"] }}
                </p>
              </div>
            </div>
            <div class="templates-box">
              <h5 *ngIf="rule.diagnoseId == 1">
                Wynik: Diagnoza interwencyjna
              </h5>
              <h5 *ngIf="rule.diagnoseId == 0">
                Wynik: Diagnoza zapobiegawcza
              </h5>
              <button class="minus-btn mb-2" (click)="removeRule(j)">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- <div *ngFor="let rule of rules; let j = index">
          <div class="inner-dynamic-input">
            <h3>Reguła {{ j + 1 }}</h3>
            <h4 *ngIf="rule.symptomIndexes.length > 0">Symptomy</h4>
            <span *ngFor="let id of rule.symptomIndexes">
              {{ templates.symptoms[id].templateName }}
            </span>
          </div>
          <div class="disease-templates-inputs">
            <h4 *ngIf="rule.riskFactorIndexes.length > 0">Czynniki ryzyka</h4>
            <span *ngFor="let id of rule.riskFactorIndexes">
              {{ templates.riskFactors[id].templateName }}
            </span>
          </div>

      
        </div> -->

        <button
          class="plus-btn"
          (click)="addRuleForm()"
          [disabled]="
            f.symptoms.status === 'INVALID' ||
            f.riskFactors.status === 'INVALID' ||
            f.precautionDiagnose.errors ||
            f.interventionDiagnose.errors
          "
        >
          <i class="fas fa-plus mr-2"></i> Dodaj regułę wnioskującą
        </button>
      </div>
    </form>
    <button
      class="submit-btn"
      [disabled]="
        !newDiseaseForm.valid || !imageFileToUpload || rules.length === 0
      "
      (click)="submitDisease()"
    >
      Dodaj
    </button>
  </div>
</div>
