<div
  class="width-100 j-c-center display-flex f-d-column a-i-center background-color-dark-blue shadow"
>
  <h2>Stare wiadomości</h2>
  <div
    class="display-flex f-d-column width-100 a-i-center toscroll-wrapper shadow"
  >
    <table class="background-color-dark-blue" *ngIf="oldMessages.length > 0">
      <thead class="font-color-yellow">
        <th>Data wysłania</th>
        <th>Tytuł</th>
        <th>Status</th>
        <th></th>
      </thead>

      <tbody>
        <tr
          *ngFor="let mess of oldMessages; let i = index"
          (click)="openInfoDialog(i)"
        >
          <td>{{ mess.creationDate | date: "dd.MM.yyyy HH:mm" }}</td>
          <td>{{ mess.header }}</td>
          <td>{{ mess.status }}</td>
          <td>
            <button class="bg-green">
              <i class="fas fa-info" (click)="openInfoDialog(i)"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 *ngIf="oldMessages.length == 0">Brak wiadomości.</h3>
  </div>
</div>
