.shadow {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

h2 {
  font-size: 35px;
  margin-top: 10px;
  color: #fff0b3;
  text-shadow: 2px 1px black;
}

table {
  border-radius: 10px;
  width: 100%;
  border-collapse: collapse;
}

.toscroll-wrapper {
  width: 100%;
  overflow-y: auto;
  max-height: 650px;
  margin-top: 30px;
  border-radius: 10px;
}
.toscroll-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3e5063;
}

.toscroll-wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #666f8c;
}

.toscroll-wrapper::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(99, 98, 98);
}

thead {
  background-color: #4d647c;
  height: 70px;
  text-align: center;
  font-size: 28px;
  letter-spacing: 3px;
  text-shadow: 2px 2px black;
}
.bg-red {
  background-color: rgb(238, 48, 48);
  color: white;
}

.bg-red:hover {
  background-color: rgb(240, 96, 96);
}

.bg-green {
  background-color: rgb(42, 202, 42);
  color: white;
}

.bg-green:hover {
  background-color: rgb(76, 207, 76);
}

tr {
  color: #fff0b3;
  height: 65px;
  text-align: center;
  font-size: 22px;
  text-shadow: 1px 1px black;
}

tr:hover {
  transition: 0.4s;
  background-color: #3c5570;
  border-radius: 10px;
}

td {
  min-width: 25%;
  line-break: strict;
  word-break: break-all;
  border-radius: 10px;
}

button {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 1px solid grey;
}

button:focus {
  outline: none;
}

h3 {
  text-align: center;
  color: #fff0b3;
}
