<!-- <p>encyclopedy works!</p>

<img *ngIf="image" [src]="image" alt="" /> -->

<div *ngIf="encyclopedyData" class="table-box">
  <table class="mat-table">
    <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell"></th>
        <th class="mat-header-cell text-center">Opis</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="mat-row"
        *ngFor="let disease of encyclopedyData; let i = index"
      >
        <td><img [src]="disease.url" alt="" /></td>
        <td class="mat-cell disease-name-col">
          <h2>{{ disease.diseaseName }}</h2>
          {{ disease.diseaseDescription }}
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 50]"
    [pageSize]="5"
    [length]="totalElements"
    (page)="nextPage($event)"
  >
  </mat-paginator>
</div>
