<h1 class="text-center">Diagnozy</h1>

<div
  class="d-flex justify-content-center background-color-dark-blue select-box"
>
  <mat-form-field appearance="fill" class="align-self-center checkbox">
    <mat-label>Wybierz roślinę</mat-label>

    <mat-select
      name="plant"
      #choosedValue
      (valueChange)="getDiagnoseFormData(choosedValue.value)"
    >
      <mat-option value="none">Brak (Zamknij formularz)</mat-option>
      <mat-option *ngFor="let plant of plants" [value]="plant.name">
        <span>
          {{ plant.name }}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<app-diagnose-placeholder
  *ngIf="!formData"
  class="d-flex justify-content-center size"
></app-diagnose-placeholder>

<mat-horizontal-stepper
  #stepper
  *ngIf="formData"
  linear
  class="stepper modal-scroll-wrapper"
>
  <mat-step [stepControl]="symptomGroup" [completed]="symptomsCompleted" linear>
    <form [formGroup]="symptomGroup">
      <ng-template matStepLabel>
        <span class="step-label">
          Wybierz występujące symptomy (opcjonalne)
        </span>
      </ng-template>

      <h1>Wybierz symptomy</h1>

      <ul *ngFor="let control of symptomArr.controls; let i = index">
        <input id="checkbox{{ i }}" [formControl]="control" type="checkbox" />
        <label for="checkbox{{ i }}">{{ formData.symptoms[i].name }}</label>
      </ul>
      <div class="d-flex justify-content-around">
        <button (click)="openDialog()">Pokaż instrukcję</button>
        <button mat-button matStepperNext (click)="submitSymptoms()">
          Następny krok
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="riskFactorGroup">
    <form [formGroup]="riskFactorGroup">
      <ng-template matStepLabel>
        <span class="step-label"> Wybierz czynniki ryzyka (opcjonalne) </span>
      </ng-template>

      <h1>Wybierz czynniki ryzyka</h1>
      <ul *ngFor="let control of factorArr.controls; let i = index">
        <input id="checkboxrf{{ i }}" [formControl]="control" type="checkbox" />
        <label for="checkboxrf{{ i }}">{{ flatRiskFactorArr[i].name }}</label>
      </ul>
      <div class="d-flex justify-content-around">
        <button mat-button matStepperPrevious>Wróć</button>
        <button
          mat-button
          matStepperNext
          type="button"
          (click)="submitRiskFactors()"
        >
          Wyślij formularz
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form *ngIf="images && diagnose">
      <ng-template matStepLabel>
        <span class="step-label"> Zakończ </span>
      </ng-template>

      <h1>Diagnoza</h1>

      <h3 *ngIf="diagnose.diseases.length == 0">
        Nie znaleziono pasujących chorób.
      </h3>

      <div
        *ngFor="let singleDiagnose of diagnose.diseases; let i = index"
        class="disease"
      >
        <div class="diagnose-box diagnose-alignment">
          <div>
            <h2 #diseaseHeader>Choroba:</h2>

            <label for="diseaseHeader">
              {{ singleDiagnose.diseaseName }}
            </label>
          </div>

          <div>
            <h2 #diagnoseHeader>Zalecane działanie:</h2>

            <label for="diagnoseHeader">
              {{ singleDiagnose.diagnose }}
            </label>
          </div>
        </div>
        <div class="diagnose-box diagnose-wrapper">
          <h2 #wikiTitle class="text-center mb-4 mt-2">Dane choroby</h2>
        </div>
        <div class="diagnose-box diagnose-alignment">
          <div>
            <p>{{ singleDiagnose.diseaseDescription }}</p>
          </div>

          <div>
            <img [src]="images[i]" alt="" />
          </div>
        </div>
      </div>
      <div class="causes" *ngIf="diagnose.diseases.length > 0">
        <h2>Zdiagnozowano na podstawie:</h2>

        <div class="width-100 display-flex">
          <div class="width-50">
            <h2>Symptomy</h2>
            <ul>
              <li *ngFor="let symptom of diagnose.symptoms">
                {{ symptom.name }}
              </li>
            </ul>

            <label *ngIf="diagnose.symptoms.length == 0">
              Nie zaznaczono symptomów.
            </label>
          </div>

          <div class="width-50">
            <h2>Czynniki ryzyka</h2>
            <ul>
              <li *ngFor="let riskFactor of diagnose.riskFactors">
                {{ riskFactor.name }}
              </li>
            </ul>

            <label *ngIf="diagnose.riskFactors.length == 0">
              Nie zaznaczono czynników ryzyka.
            </label>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-around">
        <button
          mat-button
          type="button"
          (click)="stepper.reset(); resetBoxes()"
        >
          Resetuj formularz
        </button>
        <button
          mat-button
          type="button"
          [disabled]="!diagnose || diagnose.diseases.length == 0"
          (click)="saveDiagnose()"
        >
          Zapisz diagnozę
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
