<div class="width-100 display-flex background-color-dark-blue inner-padding">
  <div
    class="width-50 display-flex f-d-column a-i-center font-color-yellow text-center"
  >
    <h2 class="text-center">Oryginalna wiadomość</h2>
    <h3 class="border-gold">{{ originalMessage.header }}</h3>
    <p>{{ originalMessage.content }}</p>
  </div>
  <div class="horizontal-line"></div>
  <div
    class="width-50 display-flex f-d-column a-i-center font-color-yellow text-center"
    *ngIf="originalMessage.answer"
  >
    <h2>
      Odpowiediano: {{ originalMessage.answerTime | date: "dd.MM.yyyy HH:mm" }}
    </h2>
    <p>{{ originalMessage.answer }}</p>
    <h5>W razie dodatkowych pytań rozmowę można kontynuwać drogą mailową.</h5>
  </div>
  <div
    class="width-50 display-flex f-d-column a-i-center font-color-yellow text-center"
    *ngIf="!originalMessage.answer"
  >
    <h2>Na tę wiadomość nie udzielono jeszcze odpowiedzi.</h2>
  </div>
</div>
