@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: rgba(248, 244, 10, 0.2); */
  background-color: #fff0b3;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
  border-radius: 8px;
}

.mat-tooltip {
  font-size: 14px !important;
}
.modal-scroll-wrapper .mat-dialog-container ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3e5063;
}

.modal-scroll-wrapper ::-webkit-scrollbar {
  width: 10px;
  background-color: #666f8c;
}

.modal-scroll-wrapper :-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(99, 98, 98);
}

.width-100 {
  width: 100%;
}

.display-flex {
  display: flex;
}

.j-c-center {
  justify-content: center;
}

.j-c-space-around {
  justify-content: space-around;
}

.j-c-flex-end {
  justify-content: flex-end;
}

.j-c-space-between {
  justify-content: space-between;
}

.f-d-column {
  flex-direction: column;
}

.a-i-center {
  align-items: center;
}

.width-50 {
  width: 50%;
}

.width-48 {
  width: 48%;
}

.background-color-dark-blue {
  background-color: #3e5063;
}

.font-color-yellow {
  color: #fff0b3;
}
