<div
  *ngIf="!isDataAvailable || temporaryDiseases.length == 0"
  class="new-plant margin-center mt-5"
>
  <h1>Nowe choroby</h1>

  <h3>Brak zapytań o dodanie nowych chorób</h3>
</div>

<div
  class="new-disease margin-center display-flex f-d-column a-i-center"
  *ngIf="isDataAvailable"
>
  <div
    class="content-box"
    *ngFor="let disease of temporaryDiseases; let i = index"
  >
    <form action="" class="dark-background">
      <div class="flex">
        <div class="img-box"><img [src]="disease.url" alt="" /></div>
        <div class="temp-disease-content">
          <div class="static-data">
            <div class="static-data-block">
              <h2>{{ disease.diseaseName }}</h2>
            </div>
            <div class="static-data-block bor-bottom">
              <p>{{ disease.description }}</p>
            </div>
            <h3>Roślina: {{ disease.plantType.name }}</h3>
            <div class="static-data-block flex-center bor-bottom">
              <div class="diagnose-block">
                <h3>Diagnoza zapobiegawcza</h3>
                <p>
                  {{ disease.precautionDiagnose }}
                </p>

                <p *ngIf="!disease.precautionDiagnose">
                  Brak diagnozy zapobiegawczej
                </p>
              </div>
              <div class="diagnose-block">
                <h3>Diagnoza interwencyjna</h3>
                <p>
                  {{ disease.interventionDiagnose }}
                </p>

                <p *ngIf="!disease.interventionDiagnose">
                  Brak diagnozy interwencyjnej
                </p>
              </div>
            </div>
            <div
              class="static-data-block display-flex j-c-space-around bor-bottom"
            >
              <div class="diagnose-block">
                <h3>Czynniki ryzyka</h3>
                <ul>
                  <li
                    *ngFor="
                      let riskFactor of disease.riskFactors;
                      let j = index
                    "
                    class=""
                  >
                    {{ riskFactor.name }}
                  </li>
                </ul>
              </div>
              <div class="diagnose-block">
                <h3>Symptomy</h3>
                <ul>
                  <li *ngFor="let symptom of disease.symptoms" class="">
                    {{ symptom.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="width-100 display-flex f-d-column a-i-center">
        <div class="rules display-flex f-d-column a-i-center">
          <h3>Reguły wnioskujące</h3>
          <div
            class="disease-box width-100 display-flex f-d-column a-i-center rule-border"
            *ngFor="let rule of disease.rules; let i = index"
          >
            <h4>Reguła {{ i + 1 }}</h4>
            <div class="width-100 display-flex j-c-space-around">
              <div class="diagnose-block">
                <h4>Czynniki ryzyka</h4>
                <ul>
                  <li *ngFor="let id of rule.riskFactorIndexes; let j = index">
                    {{ disease.riskFactors[id]["name"] }}
                  </li>
                </ul>
              </div>
              <div class="diagnose-block">
                <h4>Symptomy</h4>
                <ul>
                  <li *ngFor="let id of rule.symptomIndexes; let j = index">
                    {{ disease.symptoms[id]["name"] }}
                  </li>
                </ul>
              </div>
            </div>
            <h4 *ngIf="rule.diagnoseId == 1">Wynik: Diagnoza interwencyjna</h4>
            <h4 *ngIf="rule.diagnoseId == 0">Wynik: Diagnoza zapobiegawcza</h4>
          </div>
        </div>
      </div>

      <div class="button-wrapper">
        <button (click)="deleteDisease(i)" class="bg-red">Usuń</button>
        <button (click)="refuseDisease(i)" class="refuse-btn">Odrzuć</button>
        <button (click)="acceptDisease(i)" class="bg-green">Zaakceptuj</button>
      </div>
    </form>
  </div>
</div>
