.sidebar{

     height: 50vh;
     flex: auto;
     justify-content: center;
     background: bisque;
     margin-left: 0;
     margin-right: 0;
}

li{
    height: 10vh;
    min-height: 10vh;
    max-height: 10vh;
    border: 1px solid;
    background-color:grey;
}
li:hover{
    background-color:lightgray;
}

h3{
    margin-top: 5%;
}

a{
    color: darkblue;
    cursor: pointer;
}

a:hover{
    cursor: pointer;
    color: azure;
}