.sidebar {
  background-color: #dbc7a8;
  margin-left: 0;
  margin-right: 0;
}

li {
  /* border: 1px solid; */
  color: midnightblue;
  cursor: pointer;
  transition: 0.4s;
  padding: 0.5rem 0;
}
li:hover {
  background-color: #3e5063;
  cursor: pointer;
}

a {
  color: #2b4570;
}

li:hover a {
  color: #fff0b3;
}

a:hover {
}
.sidebar-menu {
  padding: 0;
  margin: 0;
}
.router-link-active {
  background-color: #3e5063;
  color: #fff0b3;
}
