.sidebar {
  background-color: #dbc7a8;
  margin-left: 0;
  margin-right: 0;
}

li {
  /* border: 1px solid; */
  color: midnightblue;
  cursor: pointer;
  transition: 0.4s;
  padding: 0.5rem 0;
}
li:hover {
  background-color: rgb(117, 117, 121);
  color: azure;
  cursor: pointer;
}

a {
  color: #2b4570;
}

a:hover {
}
.sidebar-menu {
  padding: 0;
  margin: 0;
}
