<div class="row top-image display-flex j-c-center">
  <h1>Plant Expert</h1>
</div>

<div class="width-100 display-flex j-c-space-around">
  <div class="text-box">
    <div class="width-100 display-flex f-d-column a-i-center">
      <label for="">Witaj w Plant Expert</label>
      <p>
        Naszym priorytetem jest szybka i rzetelna pomoc przy zarządzaniu
        uprawami oraz jak najbardziej trafna diagnoza problemów nękających Twoje
        plony. <br />
        Czekamy na Ciebie!
      </p>
    </div>
  </div>
  <div class="register-box display-flex f-d-column a-i-center">
    <div class="width-100 display-flex j-c-space-around">
      <button
        class="width-48"
        [ngClass]="{ 'router-link-active': showLoginVar }"
        (click)="showLogin()"
      >
        Logowanie
      </button>
      <button
        class="width-48"
        routerLinkActive="router-link-active"
        [ngClass]="{ 'router-link-active': !showLoginVar }"
        (click)="showRegister()"
      >
        Rejestracja
      </button>
    </div>
    <app-login-form class="width-100" *ngIf="showLoginVar"></app-login-form>
    <app-register class="width-100" *ngIf="!showLoginVar"></app-register>
  </div>
</div>
