<div class="placeholder-container">
  <h2 class="">Instrukcja</h2>

  <ol class="list">
    <li class="">
      <p class="text-block">Wybierz typ rośliny na której występuje choroba.</p>
    </li>
    <li class="">
      <p class="text-block">
        Podaj nazwę choroby, dodaj zdjęcie, opis oraz jakie działania
        interwencyjne i zapobiegawcze wykonuje się przy tej choroby.
      </p>
    </li>
    <li class="">
      <p class="text-block">
        Dodaj symptomy i czynniki ryzyka występujące przy danej chorobie
        (maksymalnie po 10 każdego typu).
      </p>
    </li>
    <li class="">
      <p class="text-block">
        Ostatnim krokiem jest tworzenie reguł wnioskujących. Aby stworzyć nową
        regułę kliknij "Dodaj regułę wnioskującą" po czym ukaże się okno gdzie
        należy wybrac składowe nowej reguły oraz typ diagnozy do niej należącej.
      </p>
    </li>
    <li class="">
      <p class="text-block">Dodanie zatwierdzamy przyciskiem "Dodaj".</p>
    </li>
  </ol>
</div>
