<mat-horizontal-stepper #stepper *ngIf="formData">
    <mat-step [stepControl]="symptomGroup">
      <form [formGroup]="symptomGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <div *ngFor="let symptom of formData.symptoms; let i = index;" >
            <label>
                <input matInput type="checkbox" value="{{symptom.name}}" formControlName ="i" >

            </label>
          
         </div>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
  </mat-horizontal-stepper>
