<div class="placeholder-container">
  <h2 class="">Instrukcja</h2>

  <ol class="list">
    <li class="">
      <p class="text-block">
        Aby otworzyć formularz diagnozy wybierz roślinę odnośnie której chcesz
        szukać chorób. Ta instrukcja będzie dostępna po otwarciu formularza pod
        przyciskiem "Pokaż instrukcję".
      </p>
    </li>
    <li class="">
      <p class="text-block">
        Po wybraniu rośliny ukaże się 3-etapowy formularz. Pierwsza część
        dotyczy symptomów, lecz jest to strona opcjonalna i jeśli na twojej
        uprawie nie zauważono jeszcze symptomów, przejdź dalej klikając
        "Następny krok".
      </p>
    </li>
    <li class="">
      <p class="text-block">
        W drugiej części znajdują się czynniki ryzyka. Po wybraniu czynników
        ryzyka naciśnij przycisk "Wyślij formularz" aby przesłać dane do
        diagnozy.
      </p>
    </li>
    <li class="">
      <p class="text-block">
        Na ostatniej stronie zostanie przedstawiona ewentualna diagnoza. Jeśli
        chcesz skorzystać z niej w przyszłości naciśnij przycisk "Zapisz
        diagnozę". Zapisane diagnozy możesz zobaczyć na stronie głównej w tabeli
        "Twoje diagnozy".
      </p>
    </li>
  </ol>
</div>
