@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: rgba(248, 244, 10, 0.2); */
  background-color: rgb(92, 81, 35);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
