<div *ngIf="encyclopedyData" class="table-box">
  <div class="table-wrapper">
    <mat-form-field appearance="fill" class="align-self-center checkbox">
      <mat-label>Wybierz roślinę</mat-label>

      <mat-select
        name="plant"
        #choosedValue
        (valueChange)="setPlant(choosedValue.value)"
      >
        <mat-option value="_">Brak (Zamknij formularz)</mat-option>
        <mat-option *ngFor="let plant of plantTypes" [value]="plant.name">
          <span>
            {{ plant.name }}
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <table class="mat-table">
      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell"></th>
          <th class="mat-header-cell text-center table-header"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="mat-row"
          *ngFor="let disease of encyclopedyData; let i = index"
        >
          <td><img [src]="disease.url" alt="" /></td>
          <td class="mat-cell disease-name-col desc">
            <h2 class="text-center">{{ disease.diseaseName }}</h2>
            <span>
              {{ disease.diseaseDescription }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="paginator-wrapper">
      <mat-paginator
        [pageSizeOptions]="[5, 10, 50]"
        [pageSize]="5"
        [length]="totalElements"
        (page)="nextPage($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
