.sidebar-border{
    border: 2px solid black;
    width: 20%;
    height: 50%;
}

.content{
    width: 80%;
}

.main-header{
    height: 7vh;
    background-color: grey ;
}

h1{
    margin-top: auto;
    font-size: 60;
}