.sidebar-border{
    width: 19%;
    height: 100%;
    position: sticky;
    top:100px;
    padding: 0;
    border: 2px solid;
}

.content{
    width: 80%;
}

.main-header{
    height: 14vh;
    border-bottom: 2px solid black;
    background-color: rgb(3, 3, 71) ;
    color: white;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSRwMZ8vKh-kfGJDPxoCbVVU0BH2s2WegHKUjOStTHdNyhNYXHr&usqp=CAU");
}

h1{
    padding-top: 1%;
    font-size: 58px;
}

.sidebar-menu {
    padding: 0;
    margin: 0 !important;

}
