.sidebar-border{
    border: 2px solid black;
    width: 19%;
    height: 50%;
    background:grey;
}

.content{
    width: 80%;
}

.main-header{
    height: 7vh;

    background-color: grey ;
}

h1{
    margin-top: auto;

}