.sidebar-border {
  width: 19%;
  height: 100%;
  position: sticky;
  top: 100px;
  padding: 0;
}

.content {
  width: 60%;
}

.main-header {
  height: 20vh;
  background-color: rgb(3, 3, 71);
  color: white;
  background: url("../../assets/zdjecie.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 12%;
}

h1 {
  padding-top: 1%;
  font-size: 58px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}
