<ul class="list-unstyled justify-content-right sidebar-menu sidebar">
  <li
    [routerLink]="['/home/main']"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="router-link-active"
  >
    <a class="nav-item nav-link text-center">
      <h3>Strona główna</h3>
    </a>
  </li>

  <li [routerLink]="['/home/diagnose']" routerLinkActive="router-link-active">
    <a class="nav-item nav-link text-center">
      <h3>Diagnozy</h3>
    </a>
  </li>
  <li
    [routerLink]="['/home/encyclopedy']"
    routerLinkActive="router-link-active"
  >
    <a class="nav-item nav-link text-center">
      <h3>Encyklopedia</h3>
    </a>
  </li>

  <li [routerLink]="['/home/account']" routerLinkActive="router-link-active">
    <a class="nav-item nav-link text-center">
      <h3>Konto</h3>
    </a>
  </li>
  <li [routerLink]="['/home/contact']" routerLinkActive="router-link-active">
    <a class="nav-item nav-link text-center">
      <h3>Kontakt</h3>
    </a>
  </li>
  <li
    [routerLink]="['/home/moderator/plant']"
    routerLinkActive="router-link-active"
    *ngIf="user.roles.includes('ROLE_MODERATOR')"
  >
    <a class="nav-item nav-link text-center">
      <h3>Moderator</h3>
    </a>
  </li>
  <li
    [routerLink]="['/home/admin/plant']"
    routerLinkActive="router-link-active"
    *ngIf="user.roles.includes('ROLE_ADMIN')"
  >
    <a class="nav-item nav-link text-center">
      <h3>Administrator</h3>
    </a>
  </li>
  <li (click)="logout()">
    <a class="nav-item nav-link text-center">
      <h3>Wyloguj</h3>
    </a>
  </li>
</ul>
