.account-details-box {
  width: 100%;
  background-color: #3e5063;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.4);
}

h2 {
  text-align: center;
  color: #fff0b3;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.input-box {
  width: 60%;
  height: 100px;
}

input {
  width: 100%;
  height: 40px;
  background-color: #4e647c;
  border: 1px solid grey;
  border-radius: 10px;
  color: #fff0b3;
  font-size: 22px;
}

input:hover {
  background-color: #4b6a8b;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}
button {
  width: 90px;
  height: 45px;
  border-radius: 5px;
  background-color: #4b6a8b;
  color: #fff0b3;
  border: 1px solid grey;
  font-size: 22px;
}

.error-box {
  text-align: center;
  color: #fff0b3;
}
