<div class="account-details-box">
  <form action="" [formGroup]="detailsForm">
    <h2>Zmień dane osobowe</h2>

    <div class="input-box">
      <input type="text" placeholder="Imię" formControlName="firstName" />
      <div class="error-box">
        <label for="" *ngIf="f.firstName.errors"
          >Imię musi posiadać conajmniej 3 litery</label
        >
      </div>
    </div>

    <div class="input-box">
      <input type="text" placeholder="Nazwisko" formControlName="lastName" />
      <div class="error-box">
        <label for="" *ngIf="f.lastName.errors"
          >Nazwisko musi posiadać conajmniej 3 znaki</label
        >
      </div>
    </div>

    <button [disabled]="!detailsForm.valid" (click)="changeDetails()">
      Zapisz
    </button>
  </form>
</div>
