form {
  width: 80%;
  margin-top: 18px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
h1,
h3 {
  color: #fff0b3;
  text-align: center;
  margin-top: 16px;
}

h3 {
  text-align: center;
}

.form-field-box {
  width: 100%;
  margin-bottom: 17px;
}

.input-box {
  width: 50%;
}

input {
  width: 100%;
  height: 45px;
  background-color: #49627c;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: #fff0b3;
  font-size: 22px;
}

input::placeholder {
  color: white;
}

button {
  width: 200px;
  height: 45px;
  background-color: #49627c;
  font-size: 22px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  color: #fff0b3;
}

button:disabled {
  background-color: #637588;
}

.error-box {
  color: rgb(247, 71, 71);
  height: 20px;
}
