<div class="width-100 display-flex f-d-column a-i-center">
  <form action="" class="background-color-dark-blue" [formGroup]="registerForm">
    <h3>Nie posiadasz jeszcze konta?</h3>
    <h1>Zarejestruj się</h1>
    <div class="form-field-box display-flex f-d-column a-i-center">
      <div class="input-box">
        <input type="email" placeholder="Podaj email" formControlName="email" />
      </div>
      <div class="error-box">
        <label for="" *ngIf="f.email.errors">Email jest wymagany</label>
      </div>
    </div>
    <div class="form-field-box display-flex f-d-column a-i-center">
      <div class="input-box">
        <input
          type="password"
          placeholder="Podaj hasło"
          formControlName="password"
        />
      </div>
      <div class="error-box">
        <label for="" *ngIf="f.password.errors"
          >Hasło musi zawierać 8-20 znaków</label
        >
      </div>
    </div>
    <div class="form-field-box display-flex f-d-column a-i-center">
      <div class="input-box">
        <input
          type="text"
          placeholder="Podaj imie"
          formControlName="firstName"
        />
      </div>
      <div class="error-box">
        <label for="" *ngIf="f.firstName.errors">Imię jest wymagane</label>
      </div>
    </div>
    <div class="form-field-box display-flex f-d-column a-i-center">
      <div class="input-box">
        <input
          type="text"
          placeholder="Podaj nazwisko"
          formControlName="lastName"
        />
      </div>
      <div class="error-box">
        <label for="" *ngIf="f.lastName.errors">Nazwisko jest wymagane</label>
      </div>
    </div>
    <div class="form-field-box display-flex f-d-column a-i-center">
      <button [disabled]="!registerForm.valid" (click)="register()">
        Zarejestruj
      </button>
    </div>
  </form>
</div>
