<div class="rule-box">
  <h1>Stwórz nową regułę</h1>
  <form action="" [formGroup]="ruleForm">
    <div class="checkbox-container">
      <div class="wrap">
        <h3>Czynniki ryzyka</h3>
        <div
          class="checkboxes"
          *ngFor="let risk of riskFactors.controls; let i = index"
          formArrayName="riskFactors"
        >
          <ul>
            <label for="rf{{ i }}">
              <input id="rf{{ i }}" type="checkbox" [formControlName]="i" />

              {{ templates.riskFactors[i].templateName }}</label
            >
          </ul>
        </div>
      </div>

      <div class="wrap">
        <h3>Symptomy</h3>
        <div
          class="checkboxes"
          *ngFor="let symp of symptoms.controls; let i = index"
          formArrayName="symptoms"
        >
          <ul>
            <label for="s{{ i }}">
              <input id="s{{ i }}" type="checkbox" [formControlName]="i" />
              {{ templates.symptoms[i].templateName }}</label
            >
          </ul>
        </div>
      </div>
    </div>

    <div class="error-wrapper">
      <label for=""
        >Wybór przynajmniej jednego z powyższych pól jest wymagany</label
      >
    </div>

    <div class="select-box checkboxes">
      <select name="" id="" formControlName="diagnoseControls">
        <option value="" selected disabled>Brak</option>
        <option value="0" [disabled]="!templates.precautionDiagnose">
          Diagnoza zapobiegawcza
        </option>
        <option value="1" [disabled]="!templates.interventionDiagnose">
          Diagnoza interwencyjna
        </option>
      </select>

      <div class="error-wrapper">
        <label for="" *ngIf="f.diagnoseControls.errors"
          >Wybór diagnozy jest wymagany</label
        >
      </div>
    </div>
    <div class="error-wrapper">
      <label for="" *ngIf="duplicateMessage">{{ duplicateMessage }}</label>
    </div>
    <div class="checkboxes">
      <button [disabled]="!ruleForm.valid" (click)="addRule()">
        Dodaj regułę
      </button>
    </div>
  </form>
</div>
