<div class="placeholder-container">
  <h2 class="">Instrukcja</h2>

  <ol class="list">
    <li class="">
      <p class="text-block">Wybierz odrzuconą chorobę z listy.</p>
    </li>
    <li class="">
      <p class="text-block">
        Następnie edytuj pola które zostały odznaczone do poprawy
      </p>
    </li>
    <li class="">
      <p class="text-block">
        Jeśli do poprawy zostały zaznaczone czynniki ryzyka, symptomy lub
        reguły, reguły utworzone za pierwszym razem zostały usunięte i należy
        utworzyć je od nowa.
      </p>
    </li>
    <li class="">
      <p class="text-block">
        Po naciśnięciu przycisku "Wyślij" choroba zostanie z powrotem przesłana
        do weryfikacji przez administratora.
      </p>
    </li>
  </ol>
</div>
