<div class="account-password-box">
  <form action="" [formGroup]="passwordForm">
    <h2>Zmień hasło</h2>

    <div class="input-box">
      <input
        type="password"
        formControlName="oldPassword"
        placeholder="Podaj stare hasło"
      />
      <div class="error-box">
        <label for="" *ngIf="f.oldPassword.errors"
          >Stare hasło jest wymagane</label
        >
      </div>
    </div>
    <div class="input-box">
      <input
        type="password"
        formControlName="newPassword"
        placeholder="Podaj nowe hasło"
      />
      <div class="error-box">
        <label for="" *ngIf="f.newPassword.errors"
          >Hasło musi mieć conajmniej 8 znaków</label
        >
      </div>
    </div>

    <button [disabled]="!passwordForm.valid" (click)="changePassword()">
      Zapisz
    </button>
  </form>
</div>
