.top-image {
  background: url("../../assets/zdjecie.jpg");
  width: 100%;
  margin: 0;
  min-height: 350px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 10%;
}

.login-back {
}
