.account-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-box {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.child-box {
  width: 40%;
}
