<!-- <div class="account-container">
  <div class="row-box">
    <app-account-details-card class="child-box"></app-account-details-card>

    <app-account-details
      class="child-box"
      (accountDetailsEmitter)="emitNewDetails($event)"
    ></app-account-details>
  </div>
</div> -->

<div class="width-100 display-flex">
  <div class="width-50 display-flex f-d-column j-c-center a-i-center">
    <app-account-details-card
      class="width-100 display-flex j-c-center"
    ></app-account-details-card>
    <app-account-password class="second-box mt-5"></app-account-password>
  </div>
  <div class="width-50 display-flex j-c-center">
    <app-account-details class="width-100"></app-account-details>
  </div>
</div>
