<div class="width-100 j-c-center display-flex">
  <div class="display-flex f-d-column width-100 a-i-center toscroll-wrapper">
    <h2>Oczekujące wiadomości</h2>
    <table
      class="background-color-dark-blue"
      *ngIf="newMessages && newMessages.length > 0"
    >
      <thead class="font-color-yellow">
        <th>Nadawca</th>
        <th>Data</th>
        <th>Tytuł</th>
        <th></th>
        <th></th>
      </thead>

      <tbody>
        <tr *ngFor="let mess of newMessages; let i = index">
          <td>{{ mess.firstName }} {{ mess.lastName }}</td>
          <td>{{ mess.creationDate | date: "dd.MM.yyyy HH:mm" }}</td>
          <td>{{ mess.header }}</td>

          <td>
            <button class="bg-green" (click)="openReplyDialog(i)">
              <i class="fas fa-comment"></i>
            </button>
          </td>
          <td>
            <button class="bg-red" (click)="deleteMessage(i)">
              <i class="fas fa-minus-circle"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 *ngIf="newMessages.length == 0">Nie znaleziono nowych wiadomości.</h3>
  </div>
</div>
