.mod-plant-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.plant-form {
  border-radius: 20px;
  height: 350px;
  padding: 5px;
  margin-top: 60px;
  width: 50%;
  background-color: #3e5063;
  color: #fff0b3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 20px;
}

form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.form-input {
  margin-top: 25px;
  width: 80%;
  display: flex;
  justify-content: center;
}

input::placeholder {
  color: white;
}

input {
  letter-spacing: 2px;
  width: 80%;
  height: 65px;
  font-size: 20px;
  border-radius: 15px;
  background-color: #465c74;
  border: 1px solid rgb(0, 0, 0, 0.6);
  color: #fff0b3;
}

form button:disabled {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #485e75;
  color: white;
  margin-left: 2px;
}

input:focus {
  outline: none;
}

.submit-button {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 24px;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  background-color: #485e75;
  color: #fff0b3;
  border: 1px solid rgb(128, 128, 128, 0.6);
}
.submit-button button:focus {
  outline: none;
  background-color: #4e6680;
}

.submit-button button:hover {
  background-color: #4e6680;
}

.submit-button:disabled {
  background-color: #597797;
}

.input-box {
  width: 100%;
}
.error-box {
  height: 50px;
  width: 100%;
  text-align: center;
}
