<h1 class="text-center">Diagnozy</h1>




    <div class="d-flex justify-content-center">
                <mat-form-field appearance="fill" class="align-self-center bg-light" >
                    <mat-label>Wybierz roślinę</mat-label>
                    <mat-select  name="plant" #choosedValue (valueChange) ="getDiagnoseFormData(choosedValue.value)">
                        <mat-option *ngFor="let plant of plants" [value]="plant.templateName">
                            {{plant.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
     </div>

    <div class="d-flex justify-content-center mb-2 mt-2">
          <button *ngIf="formData" [disabled] = "!formData" (click)="closeForm()" >
              Zamknij formularz
          </button>
    </div>  

    




        <app-diagnose-placeholder *ngIf="!formData" class="d-flex justify-content-center size"></app-diagnose-placeholder>
 
    
    <mat-horizontal-stepper #stepper *ngIf="formData" linear class="stepper">


        <mat-step [stepControl] = "symptomGroup"  [completed] = "symptomsCompleted" linear>
          <form [formGroup] = "symptomGroup"> 
            <ng-template matStepLabel >
              <span class="step-label">
                Wybierz występujące symptomy (opcjonalne)
              </span>
              
            </ng-template>
              <ul   *ngFor="let control of symptomArr.controls; let i = index">

                  <input id="checkbox{{i}}" [formControl] ="control" type="checkbox" >
                  <label for="checkbox{{i}}" >{{formData.symptoms[i].name}}</label>
              </ul>
            <div>
              <button mat-button matStepperNext (click) ="submitSymptoms()">Next</button>
            </div>
          </form>
        </mat-step>


        <mat-step [stepControl] = "riskFactorGroup" >
          <form [formGroup] = "riskFactorGroup"> 
            <ng-template matStepLabel>
              <span class="step-label">
                Wybierz czynniki ryzyka (opcjonalne)
              </span>
            </ng-template>
              <ul  *ngFor="let control of factorArr.controls; let i = index">

                  <input id="checkboxrf{{i}}" [formControl] ="control" type="checkbox" >
                  <label for="checkboxrf{{i}}">{{flatRiskFactorArr[i].name}}</label>
              </ul>
            <div class="d-flex justify-content-around">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext type="button" (click) ="submitRiskFactors()">Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step >
          <form > 
            <ng-template matStepLabel>
              <span class="step-label">
              Zakończ
              </span>
            </ng-template>
            
              <div *ngFor="let singleDiagnose of diagnose">
                    {{singleDiagnose.diseaseName}} || {{singleDiagnose.apiResponse.title}}
              </div>

            <div class="d-flex justify-content-around">
              <button mat-button type="button" (click)="stepper.reset(); resetBoxes()">Reset</button>
            </div>
          </form>
        </mat-step>
        
        
      </mat-horizontal-stepper>