.size {
  width: 100%;
}

button {
  width: 120px;
  height: 65px;
  background-color: #3e5063;
  color: white;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.stepper {
  background-color: #222;
  color: white;
}
.step-label {
  color: white;
}

ul label {
  margin-left: 5px;
  font-size: 20px;
}

mat-horizontal-stepper button {
  color: #fff0b3;
  font-size: 20px;
  width: 10%;
}
.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
  background-color: red;
}

.diagnose-alignment {
  display: flex;
  justify-content: space-around;
}

.diagnose-box {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

div label {
  width: 50%;
}
