<h1 class="text-center">Diagnozy</h1>






    <div class="row d-flex justify-content-center">
                <mat-form-field class="" appearance="fill">
                    <mat-label>Wybierz roślinę</mat-label>
                    <mat-select  name="plant" #choosedValue (valueChange) ="getDiagnoseFormData(choosedValue.value)">
                        <mat-option *ngFor="let plant of plants" [value]="plant.templateName">
                            {{plant.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    </div>

    <div class="row d-flex justify-content-center">
        <div *ngIf="formData">
            <div class="col-lg-4">
                  <div *ngFor="let riskType of formData.riskFactors | keyvalue">
                    {{riskType.key}}

                    <div *ngFor="let factor of riskType.value">
                        {{factor.name}}
                    </div>

                    <app-diagnose-form></app-diagnose-form>

                  </div>
            </div>
        
            <div class="col-lg-4">
                    <div *ngFor="let symptom of formData.symptoms">
                        {{symptom.name}}
                    </div>
            </div>

        </div>

    </div>


    

