<h1 class="text-center">Diagnozy</h1>

<div class="d-flex justify-content-center">
  <mat-form-field appearance="fill" class="align-self-center checkbox">
    <mat-label>Wybierz roślinę</mat-label>

    <mat-select
      name="plant"
      #choosedValue
      (valueChange)="getDiagnoseFormData(choosedValue.value)"
    >
      <mat-option value="none">Brak (Zamknij formularz)</mat-option>
      <mat-option *ngFor="let plant of plants" [value]="plant.templateName">
        <span>
          {{ plant.name }}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<app-diagnose-placeholder
  *ngIf="!formData"
  class="d-flex justify-content-center size"
></app-diagnose-placeholder>

<mat-horizontal-stepper #stepper *ngIf="formData" linear class="stepper">
  <mat-step [stepControl]="symptomGroup" [completed]="symptomsCompleted" linear>
    <form [formGroup]="symptomGroup">
      <ng-template matStepLabel>
        <span class="step-label">
          Wybierz występujące symptomy (opcjonalne)
        </span>
      </ng-template>
      <ul *ngFor="let control of symptomArr.controls; let i = index">
        <input id="checkbox{{ i }}" [formControl]="control" type="checkbox" />
        <label for="checkbox{{ i }}">{{ formData.symptoms[i].name }}</label>
      </ul>
      <div class="d-flex justify-content-around">
        <button (click)="openDialog()">Pokaż instrukcję</button>
        <button mat-button matStepperNext (click)="submitSymptoms()">
          Następny krok
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="riskFactorGroup">
    <form [formGroup]="riskFactorGroup">
      <ng-template matStepLabel>
        <span class="step-label"> Wybierz czynniki ryzyka (opcjonalne) </span>
      </ng-template>
      <ul *ngFor="let control of factorArr.controls; let i = index">
        <input id="checkboxrf{{ i }}" [formControl]="control" type="checkbox" />
        <label for="checkboxrf{{ i }}">{{ flatRiskFactorArr[i].name }}</label>
      </ul>
      <div class="d-flex justify-content-around">
        <button mat-button matStepperPrevious>Wróć</button>
        <button
          mat-button
          matStepperNext
          type="button"
          (click)="submitRiskFactors()"
        >
          Wyślij formularz
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form *ngIf="images">
      <ng-template matStepLabel>
        <span class="step-label"> Zakończ </span>
      </ng-template>

      <div *ngFor="let singleDiagnose of diagnose; let i = index">
        <div class="diagnose-box diagnose-alignment">
          <div>
            <h2 #diseaseHeader>Choroba:</h2>

            <label for="diseaseHeader">
              {{ singleDiagnose.diseaseName }}
            </label>
          </div>

          <div>
            <h3 #diagnoseHeader>Diagnoza:</h3>

            <label for="diagnoseHeader">
              {{ singleDiagnose.diagnose }}
            </label>
          </div>
        </div>
        <div class="diagnose-box diagnose-wrapper">
          <h3 #wikiTitle class="text-center">Dane choroby</h3>
        </div>
        <div class="diagnose-box diagnose-alignment">
          <div>
            <p>{{ singleDiagnose.diseaseDescription }}</p>
          </div>

          <div>
            <img [src]="images[i]" alt="" />
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-around">
        <button
          mat-button
          type="button"
          (click)="stepper.reset(); resetBoxes()"
        >
          Resetuj formularz
        </button>
        <button mat-button type="button">Zapisz diagnozę</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
