<div class="close-box background-color-dark-blue">
  <button class="close-btn" (click)="close()">x</button>
</div>

<div class="diagnose-modal-container">
  <div class="modal-scroll-wrapper">
    <div class="diseases-box">
      <div class="single-disease-box">
        <div class="note-box">
          <form
            action="
          "
            [formGroup]="noteForm"
          >
            <!-- <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              formControlName="note"
              placeholder="Dodaj notatkę"
            ></textarea> -->
            <editor
              formControlName="note"
              class="editor"
              apiKey="kydv063o95iin1du5dwoflywzcspl729qc3pqudepzf6kqez"
              (onInit)="handleEditorInit($event)"
              [init]="{
                icons: 'thin',
                skin: 'outside',
                plugins: 'wordcount',
                placeholder: 'Treść wiadomości.',
                content_css: '../../assets/my_content.css',
                menubar: false,
                toolbar_location: 'bottom',
                resize: false
              }"
            ></editor>
            <div class="error-box">
              <label for="" *ngIf="f.note.errors"
                >Notatka musi zawierać 30-100 znaków</label
              >
            </div>
          </form>
          <button
            [disabled]="!noteForm.valid"
            (click)="addNote()"
            class="button"
          >
            Zapisz
          </button>
        </div>

        <div class="note-box">
          <h1>Notatka</h1>
          <p *ngIf="diagnose.note" [innerHTML]="diagnose.note"></p>
          <p *ngIf="!diagnose.note">
            Do tej diagnozy nie dodano jeszcze notatki.
          </p>
        </div>
      </div>
      <div class="single-disease-box" *ngFor="let disease of diseases">
        <div><img [src]="disease.url" alt="" class="img-box" /></div>
        <div class="disease-content-box">
          <h1>{{ disease.name }}</h1>
          <div class="description-box">
            <p>{{ disease.diseaseDescription }}</p>
          </div>
          <div class="diagnoses-box">
            <div class="diagnose-box">
              <h3>Diagnoza zapobiegawcza</h3>
              <p>
                {{ disease.precautionDiagnose }}
              </p>
              <p *ngIf="!disease.precautionDiagnose">
                Ta choroba nie posiada diagnozy zapobiegawczej.
              </p>
            </div>
            <div class="diagnose-box">
              <h3>Diagnoza interwencyjna</h3>
              <p>
                {{ disease.interventionDiagnose }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="causes">
      <h2>Zdiagnozowano na podstawie:</h2>

      <div class="width-100 display-flex">
        <div class="width-50 box">
          <h3>Symptomy</h3>
          <ul>
            <li *ngFor="let symptom of diagnose.symptoms">
              {{ symptom.name }}
            </li>
          </ul>

          <label *ngIf="diagnose.symptoms.length == 0">
            Nie zaznaczono symptomów.
          </label>
        </div>

        <div class="width-50 box">
          <h3>Czynniki ryzyka</h3>
          <ul>
            <li *ngFor="let riskFactor of diagnose.riskFactors">
              {{ riskFactor.name }}
            </li>
          </ul>

          <label *ngIf="diagnose.riskFactors.length == 0">
            Nie zaznaczono czynników ryzyka.
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
